body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    background-color: white;
    padding: .8rem;
    border-radius: 1rem;
    width: 18%;
    padding-bottom: 2rem;
}

.card img {
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container h4 {
    font-size: 1.4rem;
    color: hsl(212, 27%, 19%);
    text-align: center;
    margin-top: 1.4rem;
    margin-bottom: .1rem;
}

.container p {
    font-size: 1rem;
    color: hsl(213, 9%, 39%);
    text-align: center;
}

.attribution {
    position: fixed;
    bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}